ul {
	display: flex;
	list-style-type: none;
	position: absolute;
	width: 100vw;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
	/* height: 2em; */
	justify-content: flex-end;
	align-items: center;
	background-color: #ff4b2b;
}

li {
	display: block;
	padding: 5px;
}

li:hover {
	color: blue;
	/* height: inherit; */
}

.link {
	color: white;
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
}

.link:hover {
	color: black;
}
